.aboutdiv {
  width: 100%;
  height: 40rem;
  display: grid;
  background-color: rgb(231, 222, 233);
}
.about {
  font-family: "Sacramento", cursive;
  padding-top: 3%;
  text-align: center;
  font-size: 450%;
  color: rgb(138, 120, 71);
}
.aboutpara {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 200%;
  color: rgb(138, 120, 71);

  font-family: "Libre Baskerville", serif;
}
.pawar {
  padding-top: 3%;
  padding-bottom: 0%;
  width: 100%;
  height: 50rem;
  padding-left: 12%;
  background-color: #ddb8c3;
}
.div2h4 {
  font-family: "Sacramento", cursive;
  padding-top: 3%;
  text-align: center;
  font-size: 450%;
  color: rgb(138, 120, 71);
}
.div2p {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 200%;
  color: rgb(138, 120, 71);

  font-family: "Libre Baskerville", serif;
}
/* .pawarcard {
  padding-left: 2%;
  margin-left: 55%;
  align-self: center;
} */
.div3 {
  padding-top: 3%;
  padding-bottom: 0%;
  width: 100%;
  height: 50rem;
  padding-left: 12%;
  background-color: rgb(231, 222, 233);
}
.div3h4 {
  font-family: "Sacramento", cursive;
  padding-top: 3%;
  text-align: center;
  font-size: 450%;
  color: rgb(138, 120, 71);
}
.div3p {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 200%;
  color: rgb(138, 120, 71);

  font-family: "Libre Baskerville", serif;
}
/* .pawarcard2 {
  padding-left: 0%;
  margin-left: 20%;
  margin-bottom: 10%;
  align-self: center;
  width: 100%;
} */
